.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background-image: url(../../assets/bg.png);
}

.container {
  height: 55vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
// logo
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoIcon {
  height: 4rem;
  width: 4rem;
}

.logoText {
  font-size: 1.5rem;
}
// content

.title {
  color: var(--base-gray-100, #fafafa);
  font-size: 2rem;
  font-weight: 700;
  a {
    color: var(--product-blue-light, #8fb2f5);
    &:hover {
      text-decoration: underline;
    }
  }
}
.desc {
  color: var(--base-gray-200, #bfbfd4);
}
.input {
  background: var(--base-gray-600, #1e1e29);
  border-radius: 0.5rem;
  width: 100%;
  padding: 1rem;
  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
  &::placeholder {
    transition: color 0.2s;
    color: var(--base-gray-400, #7f7f98);
  }
}
