@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #04263e;
}

p {
  margin: 0;
}

* {
  background-color: transparent;
  border: none;
}

button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

button:active {
  transition: 0.05s;
  border-radius: 2.5rem;
  background-color: grey;
}
